
@font-face {
  font-family: 'Meera-Regular';
  src: url('Meera-Regular.eot?#iefix') format('embedded-opentype'),  url('Meera-Regular.woff') format('woff'), url('Meera-Regular.ttf')  format('truetype'), url('Meera-Regular.svg#Meera-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
